<%- include("partials/header"); -%>

<h2>Hi <%= name %></h2>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>

</form>

<%- include("partials/footer"); -%>